@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  .preview-wrapper, .preview-wrapper * {
    visibility: visible;
  }
  .preview-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}